@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Market.Visit.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerenityApp.Market.VisitGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>